---
// Les chemins des logos sont hypothétiques - il faudra les placer dans le dossier public/logos/
const skills = {
  languages: [
    { name: "JavaScript", logo: "/logos/javascript.svg" },
    { name: "TypeScript", logo: "/logos/typescript.svg" },
    { name: "Python", logo: "/logos/python.svg" },
    { name: "Java", logo: "/logos/java.svg" },
    { name: "PHP", logo: "/logos/php.svg" },
    { name: "C", logo: "/logos/c.svg"},
    { name: "C++", logo: "/logos/cpp.svg" },
    { name: "HTML", logo: "/logos/html.svg" },
    { name: "CSS", logo: "/logos/css.svg" },
    { name: "SQL", logo: "/logos/sql.svg" },
    { name: "Bash", logo: "/logos/bash.svg" }
  ],
  frameworks: [
    { name: "React", logo: "/logos/react.svg" },
    { name: "Angular", logo: "/logos/angular.svg" },
    { name: "Ionic", logo: "/logos/ionic.svg" },
    { name: "Laravel", logo: "/logos/laravel.svg" },
    { name: "Qt", logo: "/logos/qt.svg" },
    { name: "TailwindCSS", logo: "/logos/tailwind.svg" },
    { name: "Bootstrap", logo: "/logos/bootstrap.svg" },
    { name: "LangChain", logo: "/logos/langchain.svg"},
    { name: "Express", logo: "/logos/express.svg" },
    { name: "FastAPI", logo: "/logos/fastapi.svg"},
    { name: "Astro", logo: "/logos/astrojs.svg"},
    { name: "Three.js", logo: "/logos/threejs.svg"}
  ],
  technologies: [
    { name: "MariaDB", logo: "/logos/mariadb.svg" },
    { name: "MySQL", logo: "/logos/mysql.svg"},
    { name: "PostgreSQL", logo: "/logos/postgresql.svg" },
    { name: "MongoDB", logo: "/logos/mongodb.svg" },
    { name: "SQLite", logo: "/logos/sqlite.svg"},
    { name: "Chroma", logo: "/logos/chromadb.svg"},
    { name: "NPM", logo: "/logos/npm.svg"},
    { name: "Node.js", logo: "/logos/nodejs.svg" },
    { name: "Vite", logo: "/logos/vitejs.svg"},
    { name: "Webpack", logo: "/logos/webpack.svg"},
    { name: "CI/CD", logo: "/logos/cicd.svg"},
    { name: "Dcm4che", logo: "/logos/dcm4che.svg"},
    { name: "Markdown", logo: "/logos/markdown.svg"},
    { name: "LaTeX", logo: "/logos/latex.svg"},
    { name: "Maven", logo: "/logos/maven.svg"},
    { name: "Ollama", logo: "/logos/ollama.svg"},
    { name: "OpenGL", logo: "/logos/opengl.svg"},
    { name: "SSH", logo: "/logos/ssh.svg"}
  ],
  tools: [
    { name: "Git", logo: "/logos/git.svg" },
    { name: "GitHub", logo: "/logos/github.svg"},
    { name: "GitLab", logo: "/logos/gitlab.svg"},
    { name: "Docker", logo: "/logos/docker.svg" },
    { name: "Linux", logo: "/logos/linux.svg" },
    { name: "Fedora", logo: "/logos/fedora.svg"},
    { name: "Rocky", logo: "/logos/rocky.svg"},
    { name: "Debian", logo: "/logos/debian.svg"},
    { name: "Ubuntu", logo: "/logos/ubuntu.svg"},
    { name: "Windows", logo: "/logos/windows.svg"},
    { name: "MacOS", logo: "/logos/macos.svg"},
    { name: "Nginx", logo: "/logos/nginx.svg" },
    { name: "Apache", logo: "/logos/apache.svg" },
    { name: "Caddy", logo: "/logos/caddy.svg"},
    { name: "VS Code", logo: "/logos/vscode.svg" },
    { name: "Cursor", logo: "/logos/cursor.svg"},
    { name: "IntelliJ", logo: "/logos/intellij.svg" },
    { name: "NetBeans", logo: "/logos/netbeans.svg"},
    { name: "Spyder", logo: "/logos/spyder.svg"},
    { name: "Keycloak", logo: "/logos/keycloak.svg" },
    { name: "Bruno", logo: "/logos/bruno.svg"},
    { name: "Jira", logo: "/logos/jira.svg"},
    { name: "Trello", logo: "/logos/trello.svg"},
    { name: "Nextcloud", logo: "/logos/nextcloud.svg"},
    { name: "Office", logo: "/logos/office.svg"},
    { name: "Portainer", logo: "/logos/portainer.svg"}
  ]
};
---

<div class="space-y-14 mb-16">
  <div class="space-y-10">
    <h2 class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white">
      Compétences Techniques
    </h2>
  
    <p class="mt-4 text-lg text-zinc-400 text-justify">
      Mon parcours et ma curiosité m'ont permis de développer un large éventail de compétences techniques, allant des langages de programmation fondamentaux aux outils modernes de développement et d'administration système.
    </p>
  </div>

  <!-- Langages -->
  <div class="space-y-10">
    <h3 class="text-2xl font-medium text-white text-center">Langages</h3>
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-8">
      {skills.languages.map((skill) => (
        <div class="flex flex-col items-center group">
          <div class="w-12 h-12 mb-3 flex items-center justify-center">
            <img src={skill.logo} alt={skill.name} class="w-full h-full object-contain transform transition-transform duration-200 group-hover:scale-125" />
          </div>
          <span class="text-sm text-gray-400 group-hover:text-white transition-colors duration-300">
            {skill.name}
          </span>
        </div>
      ))}
    </div>
  </div>

  <!-- Frameworks -->
  <div class="space-y-10">
    <h3 class="text-2xl font-medium text-white text-center">Frameworks</h3>
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-8">
      {skills.frameworks.map((skill) => (
        <div class="flex flex-col items-center group">
          <div class="w-12 h-12 mb-3 flex items-center justify-center">
            <img src={skill.logo} alt={skill.name} class="w-full h-full object-contain transform transition-transform duration-200 group-hover:scale-125" />
          </div>
          <span class="text-sm text-gray-400 group-hover:text-white transition-colors duration-300">
            {skill.name}
          </span>
        </div>
      ))}
    </div>
  </div>

  <!-- Technologies -->
  <div class="space-y-10">
    <h3 class="text-2xl font-medium text-white text-center">Technologies</h3>
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-8">
      {skills.technologies.map((skill) => (
        <div class="flex flex-col items-center group">
          <div class="w-12 h-12 mb-3 flex items-center justify-center">
            <img src={skill.logo} alt={skill.name} class="w-full h-full object-contain transform transition-transform duration-200 group-hover:scale-125" />
          </div>
          <span class="text-sm text-gray-400 group-hover:text-white transition-colors duration-300">
            {skill.name}
          </span>
        </div>
      ))}
    </div>
  </div>

  <!-- Outils -->
  <div class="space-y-10">
    <h3 class="text-2xl font-medium text-white text-center">Outils</h3>
    <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 gap-8">
      {skills.tools.map((skill) => (
        <div class="flex flex-col items-center group">
          <div class="w-12 h-12 mb-3 flex items-center justify-center">
            <img src={skill.logo} alt={skill.name} class="w-full h-full object-contain transform transition-transform duration-200 group-hover:scale-125" />
          </div>
          <span class="text-sm text-gray-400 group-hover:text-white transition-colors duration-300">
            {skill.name}
          </span>
        </div>
      ))}
    </div>
  </div>
</div>

<style>
  h2, h3 {
    font-family: "IndustryBlack", sans-serif !important;
  }
</style>